<nz-modal [(nzVisible)]="isVisible" nzTitle="Khách hàng" nzOkText="Ok" nzCancelText="Cancel" (nzOnOk)="submitForm()"
  (nzOnCancel)="handleCancel()" nzWidth="30%">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Họ tên</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input [(ngModel)]="dataEdit.name" nz-input formControlName="name" id="name" />
        <nz-form-explain *ngIf="validateForm.get('name')?.dirty && validateForm.get('name')?.errors">
          Họ tên không được để trống!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="phone">Điện Thoại</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input [(ngModel)]="dataEdit.phone" formControlName="phone" id="phone" />
        <nz-form-explain *ngIf="validateForm.get('phone')?.dirty && validateForm.get('phone')?.errors">
          Số điện thoại không được để trống
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="identity_number" >Chứng minh</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input id="identity_number" formControlName="identity_number" [(ngModel)]="dataEdit.identity_number" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="identity_image" >Hình ảnh</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input id="identity_image" formControlName="identity_image" [(ngModel)]="dataEdit.identity_image" />
        </nz-form-control>
      </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="address">Địa Chỉ</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input [(ngModel)]="dataEdit.address" nz-input formControlName="address" id="address" />
      </nz-form-control>
    </nz-form-item>

  </form>

</nz-modal>