<div nz-row class="mgbt20">
  <div nz-col nzSpan="12">
    <h4>Danh sách hợp đồng</h4>
  </div>
</div>
<div class="box box-success">
  <div class="box-header">
    <form nz-form [nzLayout]="'inline'" [formGroup]="filterForm" (ngSubmit)="filterData()">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="date">
            <nz-range-picker formControlName="date"></nz-range-picker>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="key">
            <input nz-input type="text" formControlName="find" placeholder="Từ khóa" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
            <nz-select style="width: 200px;" formControlName="active" nzPlaceHolder="Trạng thái">
              <nz-option nzValue="1" nzLabel="Kích hoạt"></nz-option>
              <nz-option nzValue="0" nzLabel="Đã xóa"></nz-option>
            </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button (click)="filterData()" nzType="primary">Hiển thị</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div class="box-body">
    <nz-table nzBordered #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData"
      [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="searchData()" (nzPageSizeChange)="searchData(true)">
      <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr>
          <th width="3%" class="text-center">STT</th>
          <th width="10%" class="text-center">
            Ngày tạo
          <th width="10%" class="text-center">
            Người tạo
          </th>
          <th width="10%" class="text-center">
            Khách hàng
          </th>
          <th width="20%" class="text-center">
            Thanh toán
          </th>
          <th width="20%" class="text-center">
            Ngày vay
          </th>
          <th width="15%" class="text-center">
            Ghi chú
          </th>
          <th width="10%" class="text-center">
            Trạng thái
          </th>
          <th width="5%" class="text-center"><span>Action</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of ajaxTable.data;let i = index">
          <td class="text-center">{{ i +1}}</td>
          <td class="text-center">{{ data.created_date }}</td>
          <td>{{ data.user_name }}</td>
          <td>
            <div>
              <span>{{ data.customer_name }}</span>
              <br>
              <span>{{ data.customer_phone }}</span>
            </div>
          </td>
          <td>
            <table>
              <tr>
                <td> <span class="badge badge-primary">Số tiền vay</span> </td>
                <td class="text-right">{{data.loan_price}}</td>
              </tr>
              <tr>
                <td> <span class="badge badge-success">Lãi suất</span> </td>
                <td class="text-right"> {{data.loan_rate+' / '+data.loan_type_name}}</td>
              </tr>
              <tr>
                <td><span class="badge badge-warning">Số lần trả</span></td>
                <td class="text-right"> {{data.num_repay_finish +' / '+ data.num_repay}}</td>
              </tr>
            </table>
          </td>
          <td>
            <table>
              <tr>
                <td>
                  <span class="badge badge-primary">Ngày bắt đầu</span>
                </td>
                <td class="text-right">
                  <span>{{data.loan_date_start}}</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="badge badge-success">Ngày kết thúc</span>
                </td>
                <td class="text-right">
                  <span>{{ data.loan_date_end }}</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="badge badge-warning">Lãi suất</span>
                </td>
                <td class="text-right">
                  <span>
                    {{data.repay_total_finish+' / '+data.repay_total}}
                  </span>
                </td>
              </tr>
            </table>
          </td>
          <td>{{ data.note }}</td>
          <td class="text-center">
            <span *ngIf="data.status_id ==1" class="badge badge-success">{{ data.status_name }}</span>
            <span *ngIf="data.status_id ==0" class="badge badge-danger">{{ data.status_name }}</span>
          </td>
          <td class="cttd" class="text-center">
            <div zn-row>
              <button nz-tooltip nzTitle="Chi tiết" (click)="handleCorU(data)" nz-button nzType="primary"
                style="margin-right: 10px">
                <i nz-icon nzType="eye" nzTheme="outline"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>